<movies-navbar></movies-navbar>
<br/>
<list-movies></list-movies>


<ng-template #contentlogin let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Sign in</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <div *ngIf="loginError" class="alert alert-danger" role="alert">
                <b>Ooops !</b> Wrong credentials
             </div>
             <div class="form-group">
                <label for="title">Username</label>
                <input type="email" class="form-control" #username>
             </div>
             <div class="form-group">
                <label for="description">Password</label>
                <input type="password" class="form-control" #password>
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="signin(username.value, password.value)">Login</button>
        </div>
</ng-template>